body {
  display: flex;
  align-items: center;
  background-color: greenyellow;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: auto;
}

main {
  display: flex;
  flex-direction: row;
  overflow-x: auto
}

article {
  flex: 1 0 30%;
  margin: 0 20px;
}