/* Style for TaskList container */
.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-btn-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}