body {
  counter-reset: invalidCount;
}

.number-input {
  padding: 5px;
}

:invalid {
  background-color: lightcoral;
  counter-increment: invalidCount;
}

p:before {
  content: "You have " counter(invalidCount) " invalid entries";
}
